@import "tailwindcss";

:root {
  --main-background: #f7f7f7;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-main-background: var(--main-background);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #000;
    --background: #171717;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
  width: 100vw;
  min-height: fit-content;
  height: 100vh;
}

.main-container {
  max-width: 1280px;
  width: 100%;
  height: calc(100% - 80px);
  min-height: fit-content;
  display: flex;
  margin: 0 auto;
}

nav {
  width: 100%;
  height: 80px;
}

nav > * {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
